name: 'build opencode Docker image'

on:

  workflow_dispatch:  # Allow manual triggering

  schedule:
    - cron: '0 2,14 * * *' # runs at least twice every day: 2am and 2pm

  push:
    paths:
      - 'Dockerfile'
      - '.github/workflows/build-docker-opencode.yaml'
      - '.hadolint.yaml'

jobs:

  build_docker_opencode:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    env:
      DOCKER_FILE: 'Dockerfile'
      REGISTRY: 'ghcr.io'
      IMAGE_NAME: 'ghcr.io/didier-durand/opencode-vibe'

    steps:

      - name: 'check environment'
        run: |
          docker --version
          python --version
          echo "npm version: $(npm --version)"
          OPENCODE_VERSION=$(npm view opencode-ai version)
          echo "opencode version: $OPENCODE_VERSION"
          echo "OPENCODE_VERSION=$OPENCODE_VERSION" >> $GITHUB_ENV
          echo "=== env vars ==="
          printenv
          

      - name: 'checkout git code'
        uses: actions/checkout@v5

      - name: 'login to GitHub Container Registry'
        uses: docker/login-action@v3
        with:
            registry: ${{ env.REGISTRY }}
            username: ${{ github.repository_owner }}
            password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value={{ date 'YYYY-MM-DD-HH-mm-ss' tz='Europe/Paris' }}
            type=raw,latest
            type=raw,opencode-${{ env.OPENCODE_VERSION }}
            type=sha

      - name: 'set up Docker Buildx'
        uses: docker/setup-buildx-action@v3
        env:
          # to avoid unknown arch in container registry
          BUILDX_NO_DEFAULT_ATTESTATIONS: 1

      - name: 'build and push to Github Container Registry'
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          file: ${{env.DOCKER_FILE}}
          tags:  |
            ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

